body {
    margin-top: 100px;
}

.valid {
    border: 13px solid green;
}

.invalid {
    border: 13px solid red;
}

* {
    user-select: none;
}
span{
    margin-right: 10px;
    cursor: pointer;
}
.container{
    margin-top: 50px;
}
#redBtn {
    background-color: red;
  }
  
  #blueBtn {
    background-color: blue;
  }
  
  #greenBtn {
    background-color: green;
  }
  
  #yellowBtn {
    background-color: yellow;
  }